/* Global */
:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
/* Menu  */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Filme Principal */

.filmePrincipal {
    font-size: 16px;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%), url(../img/capa-house.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filmePrincipal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}